In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('dataset_289_samples_final_3am.csv')

In [3]:
df.head()

,Type,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
0,0,178,114,179,97,67,130,73,132,93,...,92,89,90,57,54,48,68,89,89,61.0
1,0,179,176,178,33,24,96,62,103,75,...,90,84,90,89,63,51,88,90,85,74.0
2,1,86,86,86,83,68,86,60,85,86,...,57,76,76,72,76,7,53,64,76,77.0
3,1,99,100,99,80,98,93,64,94,98,...,87,68,117,97,120,119,73,80,119,62.0
4,1,70,70,69,64,68,58,7,70,69,...,103,132,74,72,65,58,72,55,71,69.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 91 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type        288 non-null    int64
 1   Distance0   288 non-null    int64
 2   Distance1   288 non-null    int64
 3   Distance2   288 non-null    int64
 4   Distance3   288 non-null    int64
 5   Distance4   288 non-null    int64
 6   Distance5   288 non-null    int64
 7   Distance6   288 non-null    int64
 8   Distance7   288 non-null    int64
 9   Distance8   288 non-null    int64
 10  Distance9   288 non-null    int64
 11  Distance10  288 non-null    int64
 12  Distance11  288 non-null    int64
 13  Distance12  288 non-null    int64
 14  Distance13  288 non-null    int64
 15  Distance14  288 non-null    int64
 16  Distance15  288 non-null    int64
 17  Distance16  288 non-null    int64
 18  Distance17  288 non-null    int64
 19  Distance18  288 non-null    int64
 20  Distance19  288 non-null    int64
 21  Distance20  288 non-null    int64
 22  Distance21  288 non-null    int64
 23  Distance22  288 non-null    int64
 24  Distance23  288 non-null    int64
 25  Distance24  288 non-null    int64
 26  Distance25  288 non-null    int64
 27  Distance26  288 non-null    int64
 28  Distance27  288 non-null    int64
 29  Distance28  288 non-null    int64
 30  Distance29  288 non-null    int64
 31  Distance30  288 non-null    int64
 32  Distance31  288 non-null    int64
 33  Distance32  288 non-null    int64
 34  Distance33  288 non-null    int64
 35  Distance34  288 non-null    int64
 36  Distance35  288 non-null    int64
 37  Distance36  288 non-null    int64
 38  Distance37  288 non-null    int64
 39  Distance38  288 non-null    int64
 40  Distance39  288 non-null    int64
 41  Distance40  288 non-null    int64
 42  Distance41  288 non-null    int64
 43  Distance42  288 non-null    int64
 44  Distance43  288 non-null    int64
 45  Distance44  288 non-null    int64
 46  Distance45  288 non-null    int64
 47  Distance46  288 non-null    int64
 48  Distance47  288 non-null    int64
 49  Distance48  288 non-null    int64
 50  Distance49  288 non-null    int64
 51  Distance50  288 non-null    int64
 52  Distance51  288 non-null    int64
 53  Distance52  288 non-null    int64
 54  Distance53  288 non-null    int64
 55  Distance54  288 non-null    int64
 56  Distance55  288 non-null    int64
 57  Distance56  288 non-null    int64
 58  Distance57  288 non-null    int64
 59  Distance58  288 non-null    int64
 60  Distance59  288 non-null    int64
 61  Distance60  288 non-null    int64
 62  Distance61  288 non-null    int64
 63  Distance62  288 non-null    int64
 64  Distance63  288 non-null    int64
 65  Distance64  288 non-null    int64
 66  Distance65  288 non-null    int64
 67  Distance66  288 non-null    int64
 68  Distance67  288 non-null    int64
 69  Distance68  288 non-null    int64
 70  Distance69  288 non-null    int64
 71  Distance70  288 non-null    int64
 72  Distance71  288 non-null    int64
 73  Distance72  288 non-null    int64
 74  Distance73  288 non-null    int64
 75  Distance74  288 non-null    int64
 76  Distance75  288 non-null    int64
 77  Distance76  288 non-null    int64
 78  Distance77  288 non-null    int64
 79  Distance78  288 non-null    int64
 80  Distance79  288 non-null    int64
 81  Distance80  288 non-null    int64
 82  Distance81  288 non-null    int64
 83  Distance82  288 non-null    int64
 84  Distance83  288 non-null    int64
 85  Distance84  288 non-null    int64
 86  Distance85  288 non-null    int64
 87  Distance86  288 non-null    int64
 88  Distance87  288 non-null    int64
 89  Distance88  288 non-null    int64
 90  Distance89  287 non-null    float64
dtypes: float64(1), int64(90)
memory usage: 204.9 KB

In [5]:
df.describe()

,Type,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
count,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,...,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,288.000000,287.000000
mean,0.524306,109.055556,99.204861,95.829861,48.965278,48.302083,46.833333,39.135417,41.434028,65.809028,...,39.538194,29.284722,35.100694,42.006944,47.836806,39.031250,29.625000,27.548611,47.718750,24.303136
std,0.500278,78.840975,66.444625,61.873330,36.720797,40.261632,40.052666,32.076331,45.154120,47.830220,...,44.957029,32.836765,39.742029,42.463839,45.761361,56.471346,31.740317,29.549894,47.941174,28.374779
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,60.000000,58.500000,59.000000,7.750000,7.000000,7.000000,7.000000,7.000000,9.000000,...,7.000000,7.000000,7.000000,8.000000,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000
50%,1.000000,93.000000,90.000000,83.500000,54.000000,51.000000,53.500000,44.000000,13.000000,66.500000,...,8.000000,8.000000,8.000000,9.000000,21.000000,8.000000,8.000000,8.000000,9.000000,8.000000
75%,1.000000,137.000000,127.250000,121.250000,82.000000,75.250000,75.000000,62.000000,63.250000,96.250000,...,70.250000,51.000000,64.250000,76.000000,84.000000,68.000000,55.000000,52.250000,80.500000,47.500000
max,1.000000,357.000000,357.000000,335.000000,161.000000,182.000000,168.000000,143.000000,296.000000,292.000000,...,217.000000,133.000000,243.000000,213.000000,197.000000,777.000000,175.000000,137.000000,251.000000,146.000000