## Data Analysis/Visualization

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns

In [30]:
df = pd.read_csv('test_data.csv')

In [31]:
# Adding angle column
#df.insert(1, 'Angle', range(0, len(df)))

df.head()

,Type,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
0,1,147,277,173,233,268,226,231,103,118,...,264,197,185,254,243,234,205,299,201,264
1,1,96,265,184,175,107,116,49,97,144,...,278,298,236,70,53,270,125,272,235,224
2,1,244,12,204,299,9,173,140,20,133,...,271,239,92,198,136,189,131,164,140,80
3,0,42,208,182,121,227,17,115,38,26,...,284,115,138,102,206,69,258,156,74,200
4,0,45,271,144,36,292,119,266,56,66,...,278,18,92,10,47,192,162,200,115,106

In [32]:
df.describe()

,Type,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
count,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.00000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000
mean,0.600000,145.80000,197.800000,162.200000,147.700000,156.700000,154.600000,169.900000,110.100000,111.600000,...,174.20000,167.30000,168.900000,111.800000,137.000000,144.300000,196.100000,165.80000,122.800000,165.000000
std,0.516398,92.62565,92.310828,53.115806,108.709654,101.915052,91.874552,92.927032,66.356696,75.608935,...,118.26693,93.43215,77.585007,89.319402,78.528127,82.483736,66.998259,89.54676,72.680121,76.213151
min,0.000000,42.00000,12.000000,43.000000,3.000000,9.000000,1.000000,29.000000,20.000000,26.000000,...,15.00000,9.00000,44.000000,10.000000,47.000000,19.000000,125.000000,13.00000,12.000000,54.000000
25%,0.000000,59.75000,143.500000,147.750000,54.750000,79.500000,116.750000,112.000000,62.250000,62.250000,...,52.25000,130.50000,103.500000,49.750000,60.750000,76.500000,138.250000,120.25000,77.000000,104.500000
50%,1.000000,121.50000,214.500000,177.500000,148.000000,148.500000,186.500000,184.500000,100.000000,116.500000,...,236.00000,195.50000,168.500000,77.500000,131.000000,161.000000,183.500000,160.00000,106.000000,176.000000
75%,1.000000,240.00000,269.500000,199.000000,228.500000,248.750000,201.500000,235.500000,165.000000,130.250000,...,276.25000,220.00000,233.750000,174.000000,201.250000,191.250000,244.750000,228.50000,185.750000,218.000000
max,1.000000,267.00000,296.000000,220.000000,299.000000,292.000000,292.000000,292.000000,218.000000,292.000000,...,284.00000,298.00000,272.000000,254.000000,243.000000,270.000000,299.000000,299.00000,235.000000,266.000000

## Model

In [26]:
# Splitting data into training and testing data
from sklearn.model_selection import train_test_split

columns = df.columns

X = df[columns[1:]]
y = df['Type']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [34]:
X.head()

,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,Distance9,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
0,147,277,173,233,268,226,231,103,118,45,...,264,197,185,254,243,234,205,299,201,264
1,96,265,184,175,107,116,49,97,144,276,...,278,298,236,70,53,270,125,272,235,224
2,244,12,204,299,9,173,140,20,133,198,...,271,239,92,198,136,189,131,164,140,80
3,42,208,182,121,227,17,115,38,26,216,...,284,115,138,102,206,69,258,156,74,200
4,45,271,144,36,292,119,266,56,66,183,...,278,18,92,10,47,192,162,200,115,106

In [35]:
y.head()

0    1
1    1
2    1
3    0
4    0
Name: Type, dtype: int64

In [ ]:
# Normalizing the data
from sklearn.preprocessing import MinMaxScaler

In [ ]:
from tensorflow.keras import datasets, layers, models

model = models.Sequential()