## Data Visualization

This file is data visualization for only two sample scans and the process demonstrated in this file will be added to a main model file when we have the full dataset at our disposal.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('1_positive_1_negative_test.csv')

In [3]:
df.head()

,Type,Distance0,Distance1,Distance2,Distance3,Distance4,Distance5,Distance6,Distance7,Distance8,...,Distance80,Distance81,Distance82,Distance83,Distance84,Distance85,Distance86,Distance87,Distance88,Distance89
0,1,101,7,82,7,155,156,120,107,78,...,85,107,107,113,95,98,65,100,88,60
1,0,153,8,65,99,237,169,128,126,82,...,102,113,89,82,79,123,144,91,86,88